body {
    padding: 0;
    margin: 0;
    background-color: green;
    position: relative;
    font-size: 2.5rem;
    font-family: 'Mukta', sans-serif;
}

.btn {
    position: absolute;
    display: block;
    background-color: #00000066;
    color: #FFFFFFFF;
    border-color: #777777FF;
    border-width: 1px;
    border-radius: 3px;
    padding: 0.5vw;
    z-index: 1;
    top: 540px;
    width: 150px;
}

#start {
    left: 5px;
}

#confirm {
    left: 165px;
}
