body{
    background-image: radial-gradient(#2B780D, #134211);
    font-family: 'Mukta', sans-serif;
    /* background-image: url("pics/rasen_full.jpg");
    background-repeat: no-repeat;
    background-size: auto; */
}

h1{
    text-align: center;
    color: palegoldenrod;
}

h3{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.smallSpan{
    font-size: 12px;
}

#container{

    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    /* grid-auto-rows: minmax(100px, auto); */
}

#board{
    grid-column:1/4;
    grid-row:1/4;
    justify-self: end;
    background-image: url("pics/wood4.jpg");
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333;
    z-index: 0;
}

#controls{
    /* margin: 0 auto; */
    /* grid-row: 1/3; */
    padding: 1em;
    color: #DDDDDDFF;
    background-color: #000000AA;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333;
    height: 200px;
    width: 200px;
}

#inGame{
    /* margin: 0 auto; */
    /* grid-row: 1/3; */
    padding: 1em;
    color: #DDDDDDFF;
    background-color: #000000AA;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333;
    height: 200px;
    width: 200px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

#results{
    /* margin: 0 auto; */
    /* grid-row: 3/4; */


    padding: 1em;
    color: #DDDDDDFF;
    background-color: #000000AA;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333;
    height: 200px;
    width: 200px;
}

.hidden {
    position: relative;
    left: -300px;
    z-index: -1;
    display: none;
}

.sizeForm{
    width: 30px;
}

.btn{
    background-color: #000000AA;
    color: #DDDDDDFF;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    position:relative;
    left: 50%;
}

#inGame > #moveNr {
    margin-left: 1em;
    text-align: center;
    display: inline-block;
    color: #DDDDDDFF;
    background-color: #000000AA;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    height: 1.5em;;
    width: 3em;
    position:relative;
    right: 0%;
}

#inGame > #moveColor {
    margin-left: 1em;
    text-align: center;
    display: inline-block;
    color: #DDDDDDFF;
    background-color: #000000AA;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    height: 1.5em;;
    width: 3em;
    position:relative;
    right: 0%;
}

#inGame > #capStones {
    grid-column: 1 / 3;
}

#capStonesW, #capStonesB {
    margin-left: 1em;
    text-align: center;
    display: inline-block;
    color: #DDDDDDFF;
    background-color: #000000AA;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    height: 1.5em;;
    width: 3em;
    position:relative;
    right: 0%;
}
